In [11]:
#importing libraries
import pandas as pd

In [20]:

# URL File from github
url_retail_data = "https://raw.githubusercontent.com/lozaneiro13/PCA-LDA-and-tSNE-and-dimentional-reduction/main/retail_data_W23%20-%20retail_data_W23.csv?token=GHSAT0AAAAAACTF7FB5EVFV5H4HDNGP2RYKZTI7TJQ"
url_retail_orders = "https://raw.githubusercontent.com/lozaneiro13/PCA-LDA-and-tSNE-and-dimentional-reduction/main/retail_orders_W23%20-%20retail_orders_W23.csv?token=GHSAT0AAAAAACTF7FB5QTQCTQFEQCZQKXVIZTI7UHQ"
url_store = "https://raw.githubusercontent.com/lozaneiro13/PCA-LDA-and-tSNE-and-dimentional-reduction/main/store%20-%20store.csv?token=GHSAT0AAAAAACTF7FB4POKHDJIXYCPZVCHUZTI7WBA"
#reading data
df_retail_data = pd.read_csv(url_retail_data)
df_retail_orders = pd.read_csv(url_retail_orders)
df_store = pd.read_csv(url_store)

   Store  DayOfWeek        Date  Customers  Open  Promo StateHoliday  \
0      3          5  2015-07-31        821     1      1            0
1      4          5  2015-07-31       1498     1      1            0
2      5          5  2015-07-31        559     1      1            0
3      6          5  2015-07-31        589     1      1            0
4     10          5  2015-07-31        681     1      1            0

   SchoolHoliday   Id
0              1  409
1              1  427
2              1  445
3              1  463
4              1  535
    Id  Orders
0  409    8314
1  427   13995
2  445    4822
3  463    5651
4  535    7185
   Store StoreType Assortment  CompetitionDistance  CompetitionOpenSinceMonth  \
0      1         c          a               1270.0                        9.0
1      2         a          a                570.0                       11.0
2      3         a          a              14130.0                       12.0
3      4         c          c                620.0                        9.0
4      5         a          a              29910.0                        4.0

   CompetitionOpenSinceYear  Promo2  Promo2SinceWeek  Promo2SinceYear  \
0                    2008.0       0              NaN              NaN
1                    2007.0       1             13.0           2010.0
2                    2006.0       1             14.0           2011.0
3                    2009.0       0              NaN              NaN
4                    2015.0       0              NaN              NaN

     PromoInterval
0              NaN
1  Jan,Apr,Jul,Oct
2  Jan,Apr,Jul,Oct
3              NaN
4              NaN

In [21]:
df_retail_data.head()

,Store,DayOfWeek,Date,Customers,Open,Promo,StateHoliday,SchoolHoliday,Id
0,3,5,2015-07-31,821,1,1,0,1,409
1,4,5,2015-07-31,1498,1,1,0,1,427
2,5,5,2015-07-31,559,1,1,0,1,445
3,6,5,2015-07-31,589,1,1,0,1,463
4,10,5,2015-07-31,681,1,1,0,1,535

In [22]:
df_retail_orders.head()

    Id  Orders
0  409    8314
1  427   13995
2  445    4822
3  463    5651
4  535    7185

In [23]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [ ]:
git status