In [8]:
#importing libraries
import pandas as pd

In [9]:

# URL File from github
path_retail_data = r"C:\Users\ninic\OneDrive - Lambton College\Term 2\3014 - Introduction to Artificial Intelligence 01\Week 7-Dimentional reduction\PCA-LDA-and-tSNE-and-dimentional-reduction\retail_data_W23 - retail_data_W23.csv"
path_retail_orders = r"C:\Users\ninic\OneDrive - Lambton College\Term 2\3014 - Introduction to Artificial Intelligence 01\Week 7-Dimentional reduction\PCA-LDA-and-tSNE-and-dimentional-reduction\retail_orders_W23 - retail_orders_W23.csv"
path_store = r"C:\Users\ninic\OneDrive - Lambton College\Term 2\3014 - Introduction to Artificial Intelligence 01\Week 7-Dimentional reduction\PCA-LDA-and-tSNE-and-dimentional-reduction\store - store.csv"
#reading data
df_retail_data = pd.read_csv(path_retail_data)
df_retail_orders = pd.read_csv(path_retail_orders)
df_store = pd.read_csv(path_store)

In [10]:
df_retail_data.head()

,Store,DayOfWeek,Date,Customers,Open,Promo,StateHoliday,SchoolHoliday,Id
0,3,5,2015-07-31,821,1,1,0,1,409
1,4,5,2015-07-31,1498,1,1,0,1,427
2,5,5,2015-07-31,559,1,1,0,1,445
3,6,5,2015-07-31,589,1,1,0,1,463
4,10,5,2015-07-31,681,1,1,0,1,535

In [11]:
df_retail_orders.head()

    Id  Orders
0  409    8314
1  427   13995
2  445    4822
3  463    5651
4  535    7185

In [12]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [16]:
#Nule values
df_retail_data_nulos = df_retail_data.isnull()
df_retail_orders = df_retail_orders.isnull()
df_store = df_store.isnull()
# CCount of nule values
nule_data_sum = df_retail_data.isnull().sum()
nule_orders_sum = df_retail_orders.isnull().sum()
nule_store_sum = df_store.isnull().sum()

print(nule_data_sum,nule_orders_sum,nule_store_sum)

Store            0
DayOfWeek        0
Date             0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
Id               0
dtype: int64 Id        0
Orders    0
dtype: int64 Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [21]:
# Empty Values or NAN values
empty_data = (df_retail_data == '') | (df_retail_data == 'N/A')
empty_orders = (df_retail_orders == '') | (df_retail_orders == 'N/A')
empty_store = (df_store == '') | (df_store == 'N/A')

# Count these values
empty_data_sum = empty_data.sum()
empty_orders_sum = empty_orders.sum()
empty_store = empty_store.sum()

print(empty_data_sum,empty_orders_sum,empty_store)

Store            0
DayOfWeek        0
Date             0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
Id               0
dtype: int64 Id        0
Orders    0
dtype: int64 Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64